<main>
    <!--Lista de Productos-->
    <section>
            <h1>Productos:</h1>
                <article class="productCard" >
                    <h4>{{this.title}}</h4>
                    <p>{{this.description}}</p>
                    <div class="productDetails">
                        <ul>
                            <li>Precio: ${{this.price}}</li>
                            <li>Categoría: {{this.category}}</li>
                            <li>Stock: {{this.stock}}</li>
                        </ul>
                    </div>
                </article>
    </section>
</main>